*.md linguist-detectable=true
*.md linguist-documentation=false
*.md linguist-vendored=false
*.md linguist-generated=false

*.gitattributes linguist-detectable=true
*.gitattributes linguist-documentation=false
*.gitattributes  linguist-vendored=false
*.gitattributes  linguist-generated=false

*.html linguist-detectable=false

